.home-cover
  = image_tag("home/cover0.jpg", :class => "cover-img")
  .home-solid
    = image_tag("home/cover-solid.png", :class => "cover-solid")
  .home-textout
    .home-textin
      #textin-season
        WINTER - SPRING
      %br
      #textin-sub
        2016 COLLECTION
      %br
      #textin-text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur enim risus,
        %br
        condimentum sit amet justo id, ornare porta est. Nam sagittis lacinia ex et rutrum.
      %br
      .textin-link
        View collection 

.home-products
  .text-wrapper
    .textin-link.text-grey
      = link_to "See all products", products_path
    .title
      NEW ARRIVALS
  %ul.home-products-thum
    %li.product-thum
      = image_tag("home/dude1.png", :class => "thum-img")
      .text-wrapper
        .product-thum-name
          Printed Jacquard Dress
        .product-thum-price
          $340.00
    %li.product-thum
      = image_tag("home/dude2.png", :class => "thum-img")
      .text-wrapper
        .product-thum-name
          Printed Jacquard Dress
        .product-thum-price
          $340.00
    %li.product-thum
      = image_tag("home/dude3.png", :class => "thum-img")
      .text-wrapper
        .product-thum-name
          Printed Jacquard Dress
        .product-thum-price
          $340.00
    %li.product-thum
      = image_tag("home/dude4.png", :class => "thum-img")
      .text-wrapper
        .product-thum-name
          Printed Jacquard Dress
        .product-thum-price
          $340.00

%ul.home-corp
  %li.corp-logo
    = image_tag("home/a1.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a2.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a3.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a4.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a5.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a6.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a7.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a8.png", :class => "thum-img")
