.home-cover
  = image_tag("home/cover0.jpg", :class => "cover-img")
  .home-solid
    = image_tag("home/cover-solid.png", :class => "cover-solid")
  .cover-textout
    .cover-textin
      #textin-season
        WINTER - SPRING
      %br
      .textin-sub
        2016 COLLECTION
      %br
      #textin-text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur enim risus,
        %br
        condimentum sit amet justo id, ornare porta est. Nam sagittis lacinia ex et rutrum.
      %br
      .textin-link
        View collection 

.home-products
  .text-wrapper
    .textin-link.text-grey
      = link_to "See all products", products_path
    .title
      NEW ARRIVALS
  %ul.even-wrapper.home-products-thum
    - @products.each do |x|
      %li.product-thum
        = link_to image_tag(x.image.url(:medium), :class => "thum-img"), product_path(x)
        .text-wrapper
          = link_to x.name, product_path(x), :class => "product-thum-name black-link"
          .product-thum-price $#{(x.price * x.discount).round(2)}

%ul.even-wrapper.home-corp
  %li.corp-logo
    = image_tag("home/a1.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a2.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a3.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a4.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a5.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a6.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a7.png", :class => "thum-img")
  %li.corp-logo
    = image_tag("home/a8.png", :class => "thum-img")
