.index-cover.cart-cover
  .cover-text
    .cover-text-link.text-grey
      Home&nbsp&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbsp&nbsp
      = link_to "Shop Style", products_path
    .textin-sub.text-black
      CHECK OUT

.cart-list
  = form_tag "", id: "payment-form"
  .checkout-payment
    .payment-nav
      .payment-header.checkout-title BILLING ADDRESS
      .checkout-body-nav.payment-text.text-dark-grey
        Full Name
        %br
        = text_field_tag :fullname, '', required: true

        Address
        %br
        = text_field_tag :street, '', placeholder: 'Street Address', required: true
        = text_field_tag :apt, '', placeholder: 'Apartment, suite, unit etc. (optional)'

        Town / City
        %br
        = text_field_tag :city, '', placeholder: 'Town / City', required: true

        State
        %br
        = text_field_tag :state, '', placeholder: 'NY', required: true

        Postcode
        %br
        = text_field_tag :postcode, '', size: 5, placeholder: 'Postcode / Zip', required: true

        Email Address
        %br
        = email_field_tag :email, '', required: true

    .payment-nav
      .payment-header.checkout-title CARD INFO
      .checkout-body-nav.payment-text.text-dark-grey
        %span.payment-errors
        Card Number
        %br
        = text_field_tag :number,"4242424242424242", "data-stripe" => "number"

        CVC
        %br        
        = text_field_tag :cvc,"123", "data-stripe" => "cvc"
        
        Expiration Month and Year
        %br
        = text_field_tag :date,"10", "data-stripe" => "exp-month", placeholder: 'Month'      
        = text_field_tag :date,"2020", "data-stripe" => "exp-year", placeholder: 'Year'

  .checkout-order 
    .order-header.checkout-title YOUR ORDER

    .checkout-body-nav
      .cart-header-wrapper.text-dark-grey
        .order-header-i PRODUCT
        .order-header-p PRICE
        .order-header-q QUANTITY
      .break-line
      .cart-items-wrapper
        - @items.each do |x|
          .cart-item.text-dark-grey        
            .cart-item-name
              = x.name
            .cart-item-price
              $#{(x.price * x.discount).round(2)}
            .cart-item-quantity
              - @quantity = session[:cart][x.id.to_s]
              #{@quantity}                   
      %br
      .cart-break-line    
      .cart-btn-nav    
        .cart-total.text-dark-grey
          TOTAL: $#{@total_price}   

      .order-warn-text.text-grey
        Clicking 'Place Order' will instantly charge your card. You will receive an email telling you everything went well. Thank you for shopping with us.

      .order-po-btn-nav  
        = submit_tag "PLACE ORDER", class: "cart-btn po-btn"

.loading{:style=>"display:none;"}
  = image_tag("loading.gif", :class => "loading-gif")

:javascript
  jQuery(function($) {
    $('#payment-form').submit(function(event) {      
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('.cart-btn').prop('disabled', true);
      $('.loading').show();
      Stripe.card.createToken($form, stripeResponseHandler);      

      // Prevent the form from submitting with the default action
      return false;
    });
  });