%h3 SHOPPING CART

- @items.each do |x|

  %b 
    = x.name
  %br
  
  - @quantity = session[:cart][x.id.to_s]
  Quantity: #{@quantity}
  %br
  
  Price: #{(x.price * x.discount).round(2)}
  %br
  
  - @subtotal = @quantity * (x.price * x.discount).round(2)
  %b
    Subtotal: #{@subtotal}
  
  %br
  %br

%h3
  TOTAL: $#{@total_price}  

- if @total_price > 0 
  #{link_to "CLEAR CART", reset_path} 
  %br
  %br
  #{link_to "CHECK OUT", card_path} 
