
/ .products-index-cover
.index-cover
  = image_tag("products-index/products-index-cover.jpg", :class => "cover-img")
  .cover-text
    .cover-text-link 
      Home&nbsp&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbsp&nbspShop Style
    .textin-sub
      SHOP STYLE

.products-index-nav
  %ul.products-type.menu
    = link_to products_path, :class => "black-link" do
      %li.btn ALL PRODUCTS
    = link_to products_path, :class => "black-link" do
      %li.btn TOPS
    = link_to products_path, :class => "black-link" do
      %li.btn JEANS
    = link_to products_path, :class => "black-link" do
      %li.btn SHOES
    = link_to products_path, :class => "black-link" do
      %li.btn ACCESSORIES

  .products-index
    - @products.each do |x|
      .index-thum
        = link_to image_tag(x.image.url(:medium), :class => "thum-img index-thum-img"), product_path(x)
        .text-wrapper
          = link_to x.name, product_path(x), :class => "product-thum-name black-link"
          .product-thum-price $#{x.price}
          - if current_user
            #{link_to "edit", edit_product_path(x)} 
