.show-cover
  = image_tag(@product.image.url(:original), :class => "show-img")
  .home-solid
    .show-cover-info-wrapper.hori-center
      .cover-text-link.text-grey
        #{@product.type} 
      %br     
      .show-name
        #{@product.name}
      %br
      .product-thum-price
        - if @product.discount < 1
          %span.text-cross $#{@product.price.round(2)}
          &nbsp&nbsp&nbsp
          %span.show-sale-price.text-green-blue $#{(@product.price * @product.discount).round(2)}
        - else
          $#{@product.price}      
      %br
      %br
      .cover-text-link.text-grey
        #{@product.description}
      
      .show-info-bottom-wrapper
        .cart-btn-wrapper 
          = link_to addtocart_path(@product), :class => "cart-btn left" do  
            ADD TO CART 
        .break-line
        .info-bottom-wrapper
          %span.text-dark-grey     
            SKU:  
          %span.text-grey
            4625
          %br
          %span.text-dark-grey 
            Need help: 
          %span.text-grey 
            718 559 8686
          %br
          %span.text-dark-grey 
            Order by phone: 
          %span.text-grey 
            718 559 8686
          %br
          %span.text-green-blue
            Free shipping and Free reeturn
    .cover-ico-wrapper
      #fb-share.ico-wrapper 
        .hori-center
          %i.fa.fa-facebook
      #twttr-share.ico-wrapper 
        .hori-center
          %i.fa.fa-twitter

.nav
  .show-main-info
    %ul.info-menu-wrapper.text-grey
      %li.info-menu.current
        %a{:href => "#tab-1"} DESCRIPTION
      %li.info-menu
        %a{:href => "#tab-2"} ADDITIONAL INFO
      %li.info-menu
        %a{:href => "#tab-3"} REVIEW
    .show-info-text-wrapper.text-grey
      #tab-1.tab-content
        .show-text-block
          .show-info-text       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam felis neque, imperdiet consectetur nulla a, lacinia tempus arcu. Integer quis maximus dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat enim, vulputate id pulvinar molestie, blandit vitae quam. Donec nisi est, tempus eget dignissim vitae.
        .show-text-block
          .show-info-text
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam felis neque, imperdiet consectetur nulla a, lacinia tempus arcu. Integer quis maximus dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat enim, vulputate id pulvinar molestie, blandit vitae quam. Donec nisi est, tempus eget dignissim vitae.
      #tab-2.tab-content
        .show-text-block
          .show-info-text       
            Additional Information
      #tab-3.tab-content
        .show-text-block
          .show-info-text       
            Review Section

  .show-related-wrapper
    .text-wrapper
      .textin-link.text-grey
        = link_to "See all products", products_path
      .title
        RELATED PRODUCTS
    %ul.even-wrapper.home-products-thum
      - @related_id.each do |x|
        - @r = Product.find(x)
        %li.product-thum
          = link_to image_tag(@r.image.url(:medium), :class => "thum-img"), product_path(@r)
          .text-wrapper
            = link_to @r.name, product_path(@r), :class => "product-thum-name black-link"
            .product-thum-price $#{(@r.price * @r.discount).round(2)}

- if current_user
  %br
  Discount: #{@product.discount}
  %br
  Quantity: #{@product.quantity}
  %br


- if current_user
  %br
  #{link_to "edit", edit_product_path(@product)} 

:javascript
  jQuery(function($) {
    $(".info-menu-wrapper a").click(function(event) {
      event.preventDefault();
      $(this).parent().addClass("current");
      $(this).parent().siblings().removeClass("current");
      var tab = $(this).attr("href");
      $(".tab-content").not(tab).css("display", "none");
      $(tab).fadeIn();
    });

    var title = document.title
    var pageUrl = window.location.href
    var twttrLink = 'https://twitter.com/share?url=' + pageUrl + '&'+ 'text=' + title
    var fbLink = 'http://www.facebook.com/sharer/sharer.php?u=http://facebook.com' + '&' + 'title=' + title
     
    $("#twttr-share").click(function() {        
        window.open(twttrLink, "Twitter Share", "width=800,height=400");
    });

    $("#fb-share").click(function() {        
        window.open(fbLink, "Facebook Share", "width=800,height=400");
    });
    
  });