%h3
  Product #{@product.id}: #{@product.name}

= image_tag(@product.image.url(:original))

%br
Type: #{@product.type}
%br
Original Price: $#{@product.price}
%br
Sale: $#{@product.price * @product.discount}
- if current_user
  %br
  Discount: #{@product.discount}
  %br
  Quantity: #{@product.quantity}
%br
Description: #{@product.description}

- if current_user
  %br
  #{link_to "edit", edit_product_path(@product)} 