!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ARA SHOP
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      Stripe.setPublishableKey('pk_test_pmeh2VTO8DfPVCKgPCdgrHc3');
    
  %body
    %h3
      = link_to "ARA SHOP", root_path
      = link_to "SHOP STYLES", products_path
      = link_to "CART", cart_path
      
      - if current_user
        = link_to "LOGOUT", destroy_user_session_path, method: 'delete'
        = link_to "NEW PRODUCT", new_product_path
      - else
        = link_to "LOGIN", new_user_session_path

    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}= message
    = yield
