!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ARA SHOP
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto+Slab:700', 'https://fonts.googleapis.com/css?family=Karla:700,400', 'https://fonts.googleapis.com/css?family=Vollkorn:400,400italic', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      Stripe.setPublishableKey('pk_test_pmeh2VTO8DfPVCKgPCdgrHc3');
    
  %body
    #frame
      #header
        #logo
          = link_to "ARA SHOP", root_path
        %ul.menu 
          %li.btn                   
            = link_to "SHOP STYLES", products_path
          %li.btn
            = link_to "CART", cart_path
          
          - if current_user
            %li.btn
              = link_to "LOGOUT", destroy_user_session_path, method: 'delete'
            %li.btn
              = link_to "NEW PRODUCT", new_product_path
          - else
            %li.btn
              = link_to "LOGIN", new_user_session_path

      .nav
        - flash.each do |message_type, message|
          %div{:class => "alert alert-#{message_type}"}= message

        = yield

      .nav
        .home-info
        .home-info
        .home-info

      .nav

      #footer
        #footer-menu
        #footer-logo


