!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ARA SHOP
    %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto+Slab:700', 'https://fonts.googleapis.com/css?family=Karla:700,400', 'https://fonts.googleapis.com/css?family=Vollkorn:400,400italic', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      Stripe.setPublishableKey('pk_test_pmeh2VTO8DfPVCKgPCdgrHc3');
    
  %body
    #frame
      #header
        .left.hori-center.title
          = link_to "ARA SHOP", root_path 
        %ul.menu.hori-center.right                             
          = link_to products_path do
            %li.btn SHOP STYLES
          = link_to cart_path do
            %li.btn CART

          - if current_user
            = link_to destroy_user_session_path, method: 'delete' do
              %li.btn LOGOUT
            = link_to new_product_path do
              %li.btn NEW PRODUCT
          - else
            = link_to new_user_session_path do
              %li.btn LOGIN

      .nav
        .flash-msg
          - flash.each do |message_type, message|
            %div{:class => "alert alert-#{message_type}"}= message

        = yield

      %ul.even-wrapper
        %li.home-info
          .info-wrapper
            = image_tag("home/b1.png", :class => "info-img")
            .info-text-wrapper
              .info-title
                FREE SHIPPING
              .textin-link.text-grey
                Sed eget ipsum sed ipsum tempus fringilla nec ut est
        %li.home-info
          .info-wrapper
            = image_tag("home/b2.png", :class => "info-img")
            .info-text-wrapper
              .info-title
                FREE RETURN
              .textin-link.text-grey
                Sed eget ipsum sed ipsum tempus fringilla nec ut est
        %li.home-info
          .info-wrapper
            = image_tag("home/b3.png", :class => "info-img")
            .info-text-wrapper
              .info-title
                ORDER TRACKING
              .textin-link.text-grey
                Sed eget ipsum sed ipsum tempus fringilla nec ut est      
      
      = image_tag("home/map.png", :id => "map-img")

      #footer
        %ul.menu.left.hori-center#footer-menu
          = link_to root_url, :class => "footer-link" do
            %li.btn ABOUT US
          = link_to root_url, :class => "footer-link" do 
            %li.btn VISIT SHOP
          = link_to root_url, :class => "footer-link" do
            %li.btn FAQS
          = link_to root_url, :class => "footer-link" do
            %li.btn ORDER TRACKING
          = link_to root_url, :class => "footer-link" do
            %li.btn @BY ALITSTUDIO

        %ul.right.hori-center#footer-ico          
          = link_to root_url, :class => "footer-link" do
            %li.btn
              %i.fa.fa-facebook
          = link_to root_url, :class => "footer-link" do
            %li.btn
              %i.fa.fa-twitter
          = link_to root_url, :class => "footer-link" do
            %li.btn
              %i.fa.fa-instagram
          = link_to root_url, :class => "footer-link" do
            %li.btn
              %i.fa.fa-linkedin


